-# in app/views/movies/show.html.haml

%h2 Similar movies to '#{@movie.title}'
%table#movies
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title

= link_to 'Back to movie list', movies_path
